<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BiblioFriki
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-botones></app-botones>

  <form [formGroup]="formu" (ngSubmit)="submit()">

    <ion-input type="email" placeholder="email" [formControl]="formu.controls.email"></ion-input>

    <ion-input type="text" placeholder="nombre" [formControl]="formu.controls.nombre"></ion-input>
    <ion-input type="text" placeholder="Telefono" [formControl]="formu.controls.telefono"></ion-input>
    <ion-button type="submit" expand="block" fill="clear" shape="round">
      Enviar
    </ion-button>
  </form>

  
</ion-content>
